<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>128760753191-cgj2sfuloqn31eeh55d8q0k01s9jp3j0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.128760753191-cgj2sfuloqn31eeh55d8q0k01s9jp3j0</string>
	<key>API_KEY</key>
	<string>AIzaSyCZPGZvgnqO650ygnEjvQTLbL5VHusg7BI</string>
	<key>GCM_SENDER_ID</key>
	<string>128760753191</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.personalfinance</string>
	<key>PROJECT_ID</key>
	<string>personal-finance-22c2a</string>
	<key>STORAGE_BUCKET</key>
	<string>personal-finance-22c2a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:128760753191:ios:c271a8ca6754a687e87202</string>
	<key>DATABASE_URL</key>
	<string>https://personal-finance-22c2a-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>